html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 흐릿한 백그라운드용 */
#bg-canvas {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  filter: blur(100px) brightness(40%);
  z-index: 0;
  pointer-events: none; /* */
} 


/* p5.js 기본 캔버스는 자동 생성되므로 마지막에 올라와야 함 */
canvas:not(#bg-canvas) {
  position: relative;
  z-index: 1;
  display: block;
}